{% extends 'base.html.twig' %}
{% block title %}Portfolio{% endblock %}

{% block body %}
<style>
    .btn-portfolio{
        width:380px;
        position:absolute;
        right:0;
        top:0
    }
    .article_content_titre{
        position:relative;
    }
 
   


.portfolio{

  width: 100%;
  background-position: center bottom;
  background-repeat:no-repeat;
  height: auto;
}
.portfolio .filet{
  margin: 40px auto;
}

.gallery{
  box-sizing: border-box;
  width:100%;
  margin:0
}

.gallery .image{
  height: auto;
  margin: 0;
  padding: 0;
  
}

.gallery .btn{

  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}
.project_pictures img{
  
  width: 100%;
  height: 450px;
  object-fit: cover;
  display: table;
  background:black;
}

.project_pictures figure{
  position: relative;
  overflow: hidden;
}

.figcaption_projet{
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:var(--color-violet);
  opacity: 0;
  transition: .4s; 
  color: white;
  flex-direction: column;
  padding-left: 70px;
  padding-right: 50px;
  justify-content: center;
}

.figcaption_projet:hover{
  opacity:0.9;
}

.figcaption_projet h3{
  color: white;
  text-align: left;
}

.figcaption_projet .filet-fin{
  background: white;
  margin-left: 0;
  margin-bottom: 30px;
}



</style>



<section class="article container">
   <div class="breadcrumb_page mt-0 mb-5">
        <nav aria-label="breadcrumb ">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('homepage') }}">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Portfolio</li>
            </ol>
        </nav>
    </div>
            <div class="p-0 article_content_titre col-lg-12 col-md-12 col-sm-12 d-flex">
                <div class="portfolio_title"> <h3 class="h3_title">Galerie</h3></div>
                <a class=" btn-portfolio btn btn-primary btn-4 btn-4c icon-arrow-right mb-4 mr-3" href="{{path('portfolio')}}">voir tous les projets</a>
            </div>
        <div class="row">
                <div class="container row cards">
                {% set index = 0 %}
                    {% for category in categories %}
                        <!-- filtres -->
                            <a class="card col-lg-2 col-md-3" href="{{path('projets_category',{'id': category.id})}}">
                            <div  data-index={{ index }}>
                                <img src='{{ asset('images/category/' ~ category.imageName ~ '') }}' alt="">
                                <h3>{{ category.name }}</h3>
                                <div class="filet-fin"></div>
                            </div>
                            {% set index = index + 1 %}
                            </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

    <section class="portfolio">
        <div class="row gallery">
            {% for projet in projets %}
                <div class="project_pictures p-0 col-lg-4 col-md-6 col-sm-12">
                    <figure class="m-0" >
                        <img src='{{ asset('images/projet/' ~ projet.imageUneName ~ '') }}' alt="">
                        <figcaption class="figcaption_projet">
                            <a href="{{ path('projet_show', {'id': projet.id}) }}" >
                                <h3>{{ projet.title }}</h3>
                                <div class="filet-fin"></div>
                            </a>
                        </figcaption>
                    </figure>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}
