{% extends 'base.html.twig' %}
{% block title %}Prestations{% endblock %}

{% block body %}
<style>
    .header{
        height: 400px;
        background-image:url("{{ asset('images/FOND-04.jpg') }}");
    }

    .email{
        position: absolute;
        left: -50px; top: 200px; 
        transform: rotate(-90deg);
    }

    .cv{
        background-image:url("{{ asset('images/fond-cv.svg') }}");
    }

    .competences-details li,p{
        color:white;
    }
   
</style>



<section class="article container">
        <div class="row">
            <div class="article_content_titre col-lg-12 col-md-12 col-sm-12">
                <h3 class="h3_title">CHAMPS D'EXPERTISE</h3>
                <p>Retrouvez ci-dessous l'ensemble des prestations proposées, cliquez sur les vignettes pour voir de détail de la prestation.</p>
            </div>
                <div class="container row cards">
                {% set index = 0 %}
                    {% for category in categories %}
                        <!-- filtres -->
                            <div class="card col-lg-2 col-md-3" data-index={{ index }}>
                                <img src='{{ asset('images/category/' ~ category.imageName ~ '') }}' alt="">
                                <h3>{{ category.name }}</h3>
                                <div class="filet-fin"></div>
                            </div>
                            {% set index = index + 1 %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

{% for prestation in prestations %}
    <section class="details">
            <div class="details-content container data-index=">
                <h2>{{ prestation.title }}</h2>
                <div class="filet"></div>
                <div class="competences-details row ">
                    <div class="liste-gauche col-lg-6">
                        {{ prestation.contentLeft|raw }}
                    </div>
                    <div class="liste-droite col-lg-6">
                        {{ prestation.contentRight|raw }}
                    </div>
                </div>
                <i class="fa fa-angle-up"></i>

            </div>

        </section>
    {% endfor %}
    



    


{% endblock %}
