{% extends 'base.html.twig' %}

{% block title %}Category index{% endblock %}

{% block body %}
    {{ include('admin/navigation_admin.html.twig') }}
    <div class="container">
        <a class="btn btn-primary btn-4 btn-4c icon-arrow-right mb-4" href="{{ path('category_new') }}">Créer une nouvelle catégorie</a>
        <table class="table mb-5">
            <thead>
                <tr>
                    <th>Intitulé de la catégorie</th>
                    <th>Pictogramme de la catégorie</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for category in categories %}
                <tr>
                    <td>{{ category.name }}</td>
                    <td>{{ category.imageName}}</td>
                    <td>
                        <a class="btn btn-primary btn-4 btn-4c icon-arrow-right" href="{{ path('category_show', {'id': category.id}) }}">Voir</a>
                        <a  class="btn btn-secondary btn-4 btn-4c icon-arrow-right" href="{{ path('category_edit', {'id': category.id}) }}">Modifier</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">Aucune catégorie enregistrée</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        
    </div>


{% endblock %}
