{% extends 'base.html.twig' %}

{% block title %}Category{% endblock %}

{% block body %}
<div class="container">
    <a class="btn btn-primary btn-4 btn-4c icon-arrow-right mb-4 mt-5" href="{{ path('category_index') }}">retourner aux catégories</a>
    <table class="table mb-5">
        <tbody>
            <tr>
                <th><h4 class="show_h4">Intitulé de la catégorie</h4></th>
                <td><p>{{ category.name }}</p></td>
            </tr>
            <tr>
                <th><h4 class="show_h4">Image</h4></th>
                <td><p>{{ category.imageName }}</p></td>
            </tr>
            <tr>
                <th><h4 class="show_h4">Actions</h4></th>
                <td class="d-flex"><a class="btn btn-secondary btn-4 btn-4c icon-arrow-right mr-3" href="{{ path('category_edit', {'id': category.id}) }}">Mettre à jour</a>{{ include('category/_delete_form.html.twig') }}</td>
            </tr>
        </tbody>
    </table>

    
</div>

{% endblock %}


