{% extends 'base.html.twig' %}

{% block title %}{{ projet.title }}{% endblock %}

{% block body %}
<style>
   {# .header{
            height: 400px;
            background-image:url('{{ asset('images/projet/' ~ projet.imageUneName ~ '') }}');
        } #}
    .images_projet{
        width:100%
    }
    .figcaption_projet:hover{
        opacity:.6;
        overflow:hidden
    }
    .images_projet{
        position:relative;
    }
    .figcaption_projet{
        height:100%;
        background:var(--color-violet);
        position:absolute;
        left:0; top:0;
        opacity:0;
        text-align:center;
        color:white;
        font-size:70px;        
    }
    .modal-content{
    background-color: transparent;
    border:0;
    }
    .modal-xl {
    max-width: 1500px;
    }

    .modal-header {
        border-bottom:0;
        padding:0;
    }
    .modal-header .fa {
        color:var(--color-blue);
        margin-bottom:20px
    }
    .close{
        opacity:1;
        text-shadow: 0 0 0 ;
    }
    .modal-body{
        padding:0;
    }
    

}
</style>
    <div class="container">
        <a class="btn btn-primary btn-4 btn-4c icon-arrow-right mb-4 mt-5" href="{{ path('portfolio') }}">retourner à la galerie</a>
        <p>{{ projet.content|raw}}</p>

{# ----------------------------------------------------------------------------------------------------------------------------------------------- #}
        {% if projet.imageName1 != null %}
        <section class="row container">

        
                <figure class="p-0 images_projet container images_projet_1" type="button"  data-toggle="modal" data-target="#exampleModalCenter">
                    <img class="p-0 col-lg-12 col-md-12 col-sm-12" src='{{ asset('images/projet/' ~ projet.imageName1 ~ '') }}' alt="">
                    <figcaption class=" p-0 figcaption_projet d-flex justify-content-center align-items-center">
                            <div class="fa fa-search-plus"></div>
                    </figcaption>
                </figure>
      

            <!-- Button trigger modal -->
            

            <!-- Modal -->
            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
                    <div class="modal-content">
                    <div class="modal-header">
                        <div type="button" class="close" data-dismiss="modal" >
                        <span class="fa fa-times-circle"aria-hidden="true"></span>
                        </div>
                    </div>
                    <div class="modal-body">
                        <img class="p-0 col-lg-12 col-md-12 col-sm-12" src='{{ asset('images/projet/' ~ projet.imageName1 ~ '') }}' alt="">
                    </div>
                    </div>
                </div>
            </div>
        {% endif %}
{# ----------------------------------------------------------------------------------------------------------------------------------------------- #}
        {% if projet.imageName2 != null %}
            <figure class="p-0 images_projet container images_projet_1" type="button"  data-toggle="modal" data-target="#exampleModalCenter2">
                <img class="p-0 col-lg-12 col-md-12 col-sm-12" src='{{ asset('images/projet/' ~ projet.imageName2 ~ '') }}' alt="">
                <figcaption class=" p-0 figcaption_projet d-flex justify-content-center align-items-center">
                        <div class="fa fa-search-plus"></div>
                </figcaption>
            </figure>


            <!-- Button trigger modal -->
            

            <!-- Modal -->
            <div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle2" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
                    <div class="modal-content">
                    <div class="modal-header">
                        <div type="button" class="close" data-dismiss="modal" >
                        <span class="fa fa-times-circle"aria-hidden="true"></span>
                        </div>
                    </div>
                    <div class="modal-body">
                        <img class="p-0 col-lg-12 col-md-12 col-sm-12" src='{{ asset('images/projet/' ~ projet.imageName2 ~ '') }}' alt="">
                    </div>
                    </div>
                </div>
            </div>
        {% endif %}
{# ----------------------------------------------------------------------------------------------------------------------------------------------- #}
        {% if projet.imageName3 != null %}
            <figure class="p-0 images_projet container images_projet_1" type="button"  data-toggle="modal" data-target="#exampleModalCenter3">
                <img class="p-0 col-lg-12 col-md-12 col-sm-12" src='{{ asset('images/projet/' ~ projet.imageName3 ~ '') }}' alt="">
                <figcaption class=" p-0 figcaption_projet d-flex justify-content-center align-items-center">
                        <div class="fa fa-search-plus"></div>
                </figcaption>
            </figure>


            <!-- Button trigger modal -->
            

            <!-- Modal -->
            <div class="modal fade" id="exampleModalCenter3" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
                    <div class="modal-content">
                    <div class="modal-header">
                        <div type="button" class="close" data-dismiss="modal" >
                        <span class="fa fa-times-circle"aria-hidden="true"></span>
                        </div>
                    </div>
                    <div class="modal-body">
                        <img class="p-0 col-lg-12 col-md-12 col-sm-12" src='{{ asset('images/projet/' ~ projet.imageName3 ~ '') }}' alt="">
                    </div>
                    </div>
                </div>
            </div>
        {% endif %}
{# ----------------------------------------------------------------------------------------------------------------------------------------------- #}
        {% if projet.imageName4 != null %}
            <figure class="p-0 images_projet container images_projet_1" type="button"  data-toggle="modal" data-target="#exampleModalCenter4">
                <img class="p-0 col-lg-12 col-md-12 col-sm-12" src='{{ asset('images/projet/' ~ projet.imageName4 ~ '') }}' alt="">
                <figcaption class=" p-0 figcaption_projet d-flex justify-content-center align-items-center">
                        <div class="fa fa-search-plus"></div>
                </figcaption>
            </figure>

             <!-- Button trigger modal -->
            

            <!-- Modal -->
            <div class="modal fade" id="exampleModalCenter4" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
                    <div class="modal-content">
                    <div class="modal-header">
                        <div type="button" class="close" data-dismiss="modal" >
                        <span class="fa fa-times-circle"aria-hidden="true"></span>
                        </div>
                    </div>
                    <div class="modal-body">
                        <img class="p-0 col-lg-12 col-md-12 col-sm-12" src='{{ asset('images/projet/' ~ projet.imageName4 ~ '') }}' alt="">
                    </div>
                    </div>
                </div>
            </div>
        {% endif %}
{# ----------------------------------------------------------------------------------------------------------------------------------------------- #}

        {% if projet.imageName5 != null %}
            <figure class="p-0 images_projet container images_projet_1" type="button"  data-toggle="modal" data-target="#exampleModalCenter5">
                <img class="p-0 col-lg-12 col-md-12 col-sm-12" src='{{ asset('images/projet/' ~ projet.imageName5 ~ '') }}' alt="">
                <figcaption class=" p-0 figcaption_projet d-flex justify-content-center align-items-center">
                        <div class="fa fa-search-plus"></div>
                </figcaption>
            </figure>

             <!-- Button trigger modal -->
            

            <!-- Modal -->
            <div class="modal fade" id="exampleModalCenter5" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
                    <div class="modal-content">
                    <div class="modal-header">
                        <div type="button" class="close" data-dismiss="modal" >
                        <span class="fa fa-times-circle"aria-hidden="true"></span>
                        </div>
                    </div>
                    <div class="modal-body">
                        <img class="p-0 col-lg-12 col-md-12 col-sm-12" src='{{ asset('images/projet/' ~ projet.imageName5 ~ '') }}' alt="">
                    </div>
                    </div>
                </div>
            </div>
        {% endif %}
            


         
        <!-- <img class='col-lg-12 col-md-12 col-sm-12' src="../assets/images/tumblr_mzamu6ujld1si89rmo2_1280.jpg" alt="">                 -->
</section>
    <a class="btn btn-secondary btn-4 btn-4c icon-arrow-right mb-3" href="{{ path('projet_edit', {'id': projet.id}) }}">Modifier</a>
    {{ include('projet/_delete_form.html.twig') }}
    </div>

          

{% endblock %}
