{% extends 'base.html.twig' %}

{% block title %}Article index{% endblock %}

{% block body %}
<style>
    .project_miniature{
        width:250px;
        height: 175px;
        overflow: hidden;

    }
    .project_miniature img{
        width:100%;
        object-fit: cover;
    }
    h3{
        text-align:left;
    }
    @media(max-width:992px){
    .field_hidden{
        display:none;
    }
  }
</style>
{{ include('admin/navigation_admin.html.twig') }}
<div class="container">
   
   <h3 class="h3_title mb-5">Entrez votre nouveau mot de passe ci-dessous</h3>

    {{ form_start(resetPassword, {"action": path("account"), "method": "POST"}) }}
        {{ form_row(resetPassword.plainPassword.first) }}
        {{ form_row(resetPassword.plainPassword.second) }}
        <button class="btn btn-secondary btn-4 btn-4c icon-arrow-right mb-5 mt-3"> Valider </button>
    {{ form_end(resetPassword) }}
</div>
{% endblock %}
