<section class="article container">
        <div class="article_content_titre col-lg-12 col-md-12 col-sm-12">
            <h3>BONJOUR CLÉO</h3>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <figure class="back-actions">
                    <a href="{{ path('category_index') }}">
                        <figcaption>
                            <div class="back-actions-infos">
                                <h3>Gérer mes catégories</h3>
                                <div class="filet-fin"></div>
                            </div>
                        </figcaption>
                        <img class="cover" src="{{ asset('images/DSC_5519.JPG') }}" alt="">
                    </a>
                </figure>
            </div>

              <div class="col-lg-4 col-md-6 col-sm-12">
                <figure class="back-actions">
                    <a href="{{ path('prestation_index') }}">
                        <figcaption>
                            <div class="back-actions-infos">
                                <h3>Gérer mes prestations</h3>
                                <div class="filet-fin"></div>
                            </div>
                        </figcaption>
                        <img class="cover" src="{{ asset('images/36---AD5C_1new.gif') }}" alt="">
                    </a>
                </figure>
            </div>

              <div class="col-lg-4 col-md-6 col-sm-12">
                <figure class="back-actions">
                    <a href="{{ path('projet_index') }}">
                        <figcaption>
                            <div class="back-actions-infos">
                                <h3>Gérer mes projets</h3>
                                <div class="filet-fin"></div>
                            </div>
                        </figcaption>
                        <img class="cover" src="{{ asset('images/UMEDF-mockup_v9.jpg') }}" alt="">
                    </a>
                </figure>
            </div>

              <div class="col-lg-4 col-md-6 col-sm-12">
                <figure class="back-actions">
                    <a href="{{ path('article_index') }}">
                        <figcaption>
                            <div class="back-actions-infos">
                                <h3>Gérer mon blog</h3>
                                <div class="filet-fin"></div>
                            </div>
                        </figcaption>
                        <img class="cover" src="{{ asset('images/portfolio_miniature.jpg') }}" alt="">
                    </a>
                </figure>
            </div>

              <div class="col-lg-4 col-md-6 col-sm-12">
                <figure class="back-actions">
                    <a href="">
                        <figcaption>
                            <div class="back-actions-infos">
                                <h3>Gérer la modération</h3>
                                <div class="filet-fin"></div>
                            </div>
                        </figcaption>
                        <img class="cover" src="{{ asset('images/A3-Poster-Mockup-vol-12_edited.jpg') }}" alt="">
                    </a>
                </figure>
            </div>
        </div>
            
    </section>