{% extends 'base.html.twig' %}

{% block title %}Vos Prestations{% endblock %}

{% block body %}
    {{ include('admin/navigation_admin.html.twig') }}
    <div class="container"> 
        <a class="btn btn-primary btn-4 btn-4c icon-arrow-right mb-4" href="{{ path('prestation_new') }}">Créer une prestation</a>
        <table class="table mb-5">
            <thead>
                <tr>
                    <th><h4>Intitulé de la prestation</h4></th>
                    <th><h4>Actions</h4></th>
                </tr>
            </thead>
            <tbody>
            {% for prestation in prestations %}
                <tr>
                    <td><p>{{ prestation.title }}</p></td>
                    <td>
                        <a class="btn btn-primary btn-4 btn-4c icon-arrow-right" href="{{ path('prestation_show', {'id': prestation.id}) }}">Voir</a>
                        <a class="btn btn-secondary btn-4 btn-4c icon-arrow-right" href="{{ path('prestation_edit', {'id': prestation.id}) }}">Modifier</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5"><p>Aucune prestation enregistrée</p></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
