{% extends 'base.html.twig' %}

{% block title %}Prestation{% endblock %}

{% block body %}
<div class="container">
    <a class="btn btn-primary btn-4 btn-4c icon-arrow-right mb-4 mt-5" href="{{ path('prestation_index') }}">retourner aux prestations</a>
    <table class="table">
        <tbody>
            <tr>
                <th><h4 class="show_h4" >Intitulé de la prestation</h4></th>
                <td><p>{{ prestation.title }}</p></td>
            </tr>
            <tr>
                <th><h4 class="show_h4" >Contenu de gauche</h4></th>
                <td><p>{{ prestation.contentLeft|raw }}</p></td>
            </tr>
            <tr>
                <th><h4 class="show_h4" >Contenu de droite</h4></th>
                <td><p>{{ prestation.contentRight|raw }}</p></td>
            </tr>
             <tr>
                <th><h4 class="show_h4" >Actions</h4></th>
                <td class="d-flex">
                    <a class="btn btn-secondary btn-4 btn-4c icon-arrow-right mr-3" href="{{ path('prestation_edit', {'id': prestation.id}) }}">Modifier</a>
                    {{ include('prestation/_delete_form.html.twig') }}
                </td>
            </tr>
        </tbody>
    </table>


</div>

{% endblock %}
