{% extends 'base.html.twig' %}

{% block title %}Prestation{% endblock %}

{% block body %}
    <h1>Prestation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ prestation.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ prestation.title }}</td>
            </tr>
            <tr>
                <th>ContentLeft</th>
                <td>{{ prestation.contentLeft|raw }}</td>
            </tr>
            <tr>
                <th>ContentRight</th>
                <td>{{ prestation.contentRight|raw }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary btn-4 btn-4c icon-arrow-right" href="{{ path('prestation_index') }}">Retourner aux prestations</a>

    <a class="btn btn-secondary btn-4 btn-4c icon-arrow-right" href="{{ path('prestation_edit', {'id': prestation.id}) }}">Modifier</a>

    {{ include('prestation/_delete_form.html.twig') }}
{% endblock %}
