<h1>Nouveau contact</h1>
<p>Nom: {{ contact.nom }}</p>
<p>Société: {{ contact.societe }}</p>
<p>E-mail: {{ contact.email }}</p>
<p>E-mail: {{ contact.telephone }}</p>
<p>Message: {{ contact.message }}</p>