{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
<style>
.article_body{
    padding-top:70px;
    background-image:url("{{ asset('images/graphic-article.svg') }}");
}
.article_body h3{
    margin-bottom:50px;
    text-align:left;
}
  .article_image{
    width:100%;
    height: 200px;
    overflow: hidden;
  }
  .article_image img{
    width:100%;
    object-fit: cover;
  }
  .article_info h3{
    text-align:left;
    text-transform:none !important;
  }
.btn-more {
  font-size : 10px !important;
  padding : 10px 20px !important

}
.sidebar{
  background:var(--color-grey);
  width:100%
}    
.search_input input:first-child{
  width:100%;
  height:40px;
  border-radius:30px;
  border:0;
  background:white;
  padding-left:20px;
}
.search_input{
  position:relative;
}
.background_icon_search{
  width:40px;
  height:30px;
  background:white;
  position:absolute;
  top:5px;
  right:20px;
  color:var(--color-violet) !important;
}

.social_network{
  margin-top:150px;
}
.social_network_icons .fa{
  font-size:25px;
  color:var(--color-violet) !important;
}
figure img{
    width:100%;
    height:278px;
    object-fit:cover;
}
figure{
    position:relative;
    height:278px;
    overflow:hidden;
}
figcaption{
    position:absolute;
    left:0; top:0;
    display:flex;
    justify-content:center;
    align-items:center;
    opacity:0;
}
figcaption:hover{
    opacity:.7;
}
figcaption .fa-plus{
    font-size:40px;
    color:white;
}

.lastest_articles{
    margin-top:150px;
}
.lastest_articles h3{
    margin-bottom:50px;
}
.share_links .fa{
    color:var(--color-violet);
    font-size: 20px
}
button{
    background:none;
    border:none;
}
label{
    display:none;
}
.search{
    background:white !important;
}

.gprd_agreement a{
    color:var(--color-blue);
}
.gprd_agreement a:hover{
    color:var(--color-blue) !important;
    text-decoration:underline !important;
}
</style>

<section class="article_body container">
     <div class="breadcrumb_page mt-0 mb-5">
            <nav aria-label="breadcrumb ">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ path('homepage') }}">Home</a></li>
                    <li class="breadcrumb-item"><a href="{{ path('blog') }}">Blog</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{ article.title}}</li>
                </ol>
            </nav>
        </div>
  {# <h3 class="h3_title">{{ article.title }}</h3> #}
    <div class="row">

        <div class="listing_articles col-lg-8 col-md-8 col-sm-12">
        <p>Publié le {{ article.createdAt ? article.createdAt|date('Y-m-d') : '' }} | Mis à jour le : {{ article.updatedAt ? article.updatedAt|date('Y-m-d') : '' }}</p>
        <div class="btn_actions_blog d-flex justify-content-between align-items-center">
            <div class="actions_article d-flex">
                <a href="{{ path('blog') }}">
                    <div class="btn btn-primary btn-more mr-3">Retour</div>
                </a>
                <a href="#comments">
                    <div class="btn btn-primary btn-more">Ajouter un commentaire</div>
                </a>
            </div>
            <div class="share_links">
                <button class="share_facebook" data-url="http://127.0.0.1:8000/blog/{{ article.id }}" ><i class="fa fa-facebook ml-2"></i></button>
                <button class="share_twitter" data-url="http://127.0.0.1:8000/blog/{{ article.id }}" ><i class="fa fa-twitter ml-2 "></i></button>
                <button class="share_linkedin" data-url="http://127.0.0.1:8000/blog/{{ article.id }}" ><i class="fa fa-linkedin ml-2 "></i></button>
            </div>

        </div>
            
                        
        <p class="mt-5">{{ article.content|raw }}</p>
        <img class="p-0 col-lg-12 col-md-12 col-sm-12" src='{{ asset('images/blog/' ~ article.imageName ~ '') }}' alt="">
        <a href="{{ article.link }}" class="btn btn-primary btn-4 btn-4c icon-arrow-right mb-4 mt-5">voir le site</a>
         <p>Sources : <a href="{{ article.source }}">{{ article.source }}</a></p>  
{% if is_granted("ROLE_ADMIN") %}
    <a class="btn btn-secondary btn-4 btn-4c icon-arrow-right mb-3" href="{{ path('article_edit', {'id': article.id}) }}">Modifier l'article</a>

    {{ include('article/_delete_form.html.twig') }}
{% endif %}

{% if articleByKeyWords != null %}
    <div class="similar_articles">
        <h3 class="mt-5 h3_title">Articles similaires</h3>
        <div class="row">
        {% for art in articleByKeyWords %}
            {% if currentId != art.id %}
            <div class="similar_article_content col-lg-6 col-md-6 col-sm-12">
                <figure>
                    <img class="" src='{{ asset('images/blog/' ~ art.imageName ~ '') }}' alt="">
                    <a href="{{ path('article_show', {'id': art.id}) }}">
                        <figcaption>
                            <i class="fa fa-plus" aria-hidden="true"></i>
                        </figcaption>
                    </a>
                </figure>
                <a href="{{ path('article_show', {'id': art.id}) }}"><h3 class="article_title">{{ art.title }}</h3></a>
            </div>
            {% endif %}
        {% endfor %}
        </div>
    </div>
{% endif %}

    <div class="article_comments">
      <div class="comment_title">
            <h3 class="mt-5 h3_title">{{ article.comments | length}} Commentaires</h3>
            {% for comment in article.comments %}
                <div class="comment">
                    <div class="row">
                        <div class="col-12 d-flex justify-content-between align-items-center">
                            <div class="comment_author">
                                <h3 class="article_title m-0">{{ comment.author }} </h3>
                            </div>
                            <div class="comment_datetime">
                                <p>{{ comment.createdAt|date('Y-m-d') }} </p>
                            </div>
                        </div>
                        <div class="comment_content col-12 p-3">
                            <p>{{ comment.content|raw }}</p>
                            <hr>    
                        </div>
                        {% if is_granted("ROLE_ADMIN") %}
                            <div class="btn-delete">
                                {{ include('comment/_delete_form.html.twig') }}
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}

            <h4 id="comments" class="text-left mb-4">Laissez votre commentaire</h4>
            {{ form_start(commentForm) }}
            <p>Votre adresse e-mail ne sera pas publiée.</p>
            {{ form_row(commentForm.author)}}
            {{ form_row(commentForm.email) }}
            {{ form_row(commentForm.content) }}
            <div class="gprd_agreement d-flex">
                <div>{{ form_row(commentForm.gdprAgreement) }}</div>
                <p>J'accepte la <a class=""  href="{{ path('terms_of_use') }}" >politique d'utilisation de mes données personnelles</a></p>
            </div>
            <div class="form_actions d-flex justify-content-between align-items-center mt-4 mb-4">
                <p class="m-0">*champs obligatoires</p>
                <button type="submit" class="btn btn-secondary">Envoyer</button>
            </div>
            {{ form_end(commentForm)}}
        </div>
    </div>

</div>

     <div class="sidebar col-lg-4 col-md-4 col-sm-12 p-4">
            <div class="search_tool">
                <h3 class="mt-3 h3_title" >Rechercher</h3>
                    <form action="{{ path('blog_search') }}" method="post">
                    <div class="search_input mt-3">
                        <input type="text" class="form-control search" placeholder="mots-clés…" name="search" required>
                        <button type="submit" name="" id="" class="background_icon_search d-flex justify-content-center align-items-center mt-1" ><i class="fa fa-search" aria-hidden="true"></i></button>
                    </div>
                    </form>
            </div>
            <div class="social_network">
                <h3 class="h3_title" >Follow me !</h3>
                <div class="social_network_icons d-flex justify-content-around mt-5">
                    <a href="https://www.facebook.com/cleo.csn"target="_blank"><i class="fa fa-facebook"></i></a>
                    <a href="https://www.instagram.com/cleo__cook/?hl=fr"target="_blank"><i class="fa fa-instagram"></i></a>
                    <a href="https://www.linkedin.com/in/cl%C3%A9o-cosnier-092b7668"target="_blank"><i class="fa fa-linkedin"></i></a>
                    <a href="https://www.pinterest.fr/cleocosnier/"><i class="fa fa-pinterest-p"target="_blank"></i></a>
                </div>
            </div>

            <div class="lastest_articles">
                <h3  class="h3_title" >Derniers posts</h3>
                    {% for lastestArticle in lastestArticles %}
                            <a href="{{ path('article_show', {'id': lastestArticle.id}) }}"><h3 class="article_title" >{{ lastestArticle.title }}</h3></a>
                            <hr>
                    {% endfor %}
            </div>
        </div>
      </div>
    </div>
  </section>


{% endblock %}
